@keyframes animated-header {
    0% {
        content: " Larry Daniels|"
    }

    10% {
        content: " Larry Daniels|"
    }

    11% {
        content: " Larry Daniel|"
    }

    12% {
        content: " Larry Danie"
    }

    13% {
        content: " Larry Dani|"
    }

    14% {
        content: " Larry Dan|"
    }

    15% {
        content: " Larry Da|"
    }

    16% {
        content: " Larry D|"
    }

    17% {
        content: " Larry |"
    }

    18% {
        content: " Larry|"
    }

    19% {
        content: " Larr|"
    }

    20% {
        content: " Lar|"
    }

    21% {
        content: " La|"
    }

    22% {
        content: " L|"
    }

    23% {
        content: " |"
    }

    24% {
        content: " D|"
    }

    25% {
        content: " De|"
    }

    26% {
        content: " Dev|"
    }

    27% {
        content: " Deve|"
    }

    28% {
        content: " Devel|"
    }

    29% {
        content: " Develo|"
    }

    30% {
        content: " Develop|"
    }

    31% {
        content: " Develope|"
    }

    32% {
        content: " Developer|"
    }

    42% {
        content: " Developer|"
    }

    43% {
        content: " Develope|"
    }

    44% {
        content: " Develop|"
    }

    45% {
        content: " Develo|"
    }

    46% {
        content: " Devel|"
    }

    47% {
        content: " Deve|"
    }

    48% {
        content: " Dev|"
    }

    49% {
        content: " De|"
    }

    50% {
        content: " D|"
    }

    51% {
        content: " |"
    }

    52% {
        content: " D|"
    }

    53% {
        content: " De|"
    }

    54% {
        content: " Des|"
    }

    55% {
        content: " Desi|"
    }

    56% {
        content: " Desig|"
    }

    57% {
        content: " Design|"
    }

    58% {
        content: " Designe|"
    }

    59% {
        content: " Designer|"
    }

    69% {
        content: " Designer|"
    }

    70% {
        content: " Designe|"
    }

    71% {
        content: " Design|"
    }

    72% {
        content: " Desig|"
    }

    73% {
        content: " Desi|"
    }

    74% {
        content: " Des|"
    }

    75% {
        content: " De|"
    }

    76% {
        content: " D|"
    }

    77% {
        content: " L|"
    }

    78% {
        content: " La|"
    }

    79% {
        content: " Lar|"
    }

    80% {
        content: " Larr|"
    }

    81% {
        content: " Larry|"
    }

    82% {
        content: " Larry |"
    }

    83% {
        content: " Larry D|"
    }

    84% {
        content: " Larry Da|"
    }

    85% {
        content: " Larry Dan|"
    }

    86% {
        content: " Larry Dani|"
    }

    87% {
        content: " Larry Danie|"
    }

    88% {
        content: " Larry Daniel|"
    }

    89% {
        content: " Larry Daniels|"
    }

    100% {
        content: " Larry Daniels|";
    }
}